:root {
    --Cyan:#92a2b1;
    --DrkGray:#3C4048;
    --Gray:#B2B2B2;
    --White:#EAEAEA;
}
.Container {
    width: 95%;
    margin: 0 auto;
}
* {
    padding: 0px;
    margin: 0px;
    font-family: 'Noto Sans', sans-serif;
}
body,html {
    background-color:var(--Gray);
    height: 100%;
    width: 100%;
}
.Navbar {
    margin: none;
    padding: 20px;
    background-color: var(--White);
    position: fixed;
    left: 0;
    right: 0;
    top:0;
    z-index: 1;
}
nav {
    display: flex;
    justify-content: space-between;
}
ul {
    list-style-type: none;
    display: flex;
    gap: 70px;
    margin-top: 5px;
    font-weight: bold;
}
#Logo {
    font-size: 20px;
    margin-bottom: 10px;
}
a {
    text-decoration: none;
}
#AboutMe {
   width: 98%;
   height: 50%;
}
#AboutMe .Container {
    width: (90%);
    background-color: var(--Cyan);
    display: flex;
    justify-content: space-between;
    gap: 50px;
    height: 150%;
    margin-top: 77px;
}
#Name {
    font-weight: bold;
    font-size: 44px;
}
.Text {
    font-size: 26px;
    margin: 50px;
}
#image {
    height: 600px;
    width: 400px;
    position: relative;
    top: -45px;
}
#About {
    margin-top: 50px;
    color: var(--White);
}
#Projects {
    width: 98%;
    height: 50%;
}
#Projects .Container {
    width: (90%);
    background-color: var(--DrkGray);
    height: 180%;
    margin-top: 186.4px;
}
.Headerw {
    color: var(--White);
    font-size: 38px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    padding-top: 20px;
}
ul a{
    color: var(--DrkGray);
}
.Header {
    border-top: solid black 3px;
    padding-right: 500px;
    padding-left:500px;
    padding-top: 20px;
}
.SecHeader {
    font-weight: bold;
    font-size: 30px;
    margin-top: 70px;
    display: flex;
    justify-content: center;
    color: var(--White);
}
.TextA {
    text-align: center;
    color: var(--White);
    font-size: 20px;
    margin-left: 500px;
    margin-top: 100px;
    width: 60%;
}
.Ajarak {
    position: relative;
    display: flex;
    justify-content: space-between;
}
.ImageA {
    position: absolute;
    bottom: -120px;
}
#Education {
    width: 98%;
    height: 50%;
}
#Education .Container {
    background-color: var(--White);
    height: 80%;
    margin-top: 298.4px;
}
.Headerb {
    color: var(--DrkGray);
    font-size: 38px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    padding-top: 20px;
}
.Orange {
    margin-left: 60px;
    position: relative;
    display: flex;
    justify-content: space-between;
}
.TextO {
    font-size: 30px;
    margin: 50px;
}
#Skills {
    width: 98%;
    height: 50%;
}
#Skills .Container {
    background-color: var(--DrkGray);
    height: 300%;
    margin-top: -73.6px;
}
.SoftSkills {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 80px ;
    justify-content: center;
    gap: 200px;
}
.Cards {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding-top: 30px;
    padding-left: 20px;
    font-size: 20px;
    border-radius: 25%;
    width: 200px;
    height: 300%;
    background-color: var(--White);
    color: var(--DrkGray);
}
#Comms {
    padding-right: 15px;
    text-align: center;
}
#Think {
    padding-right: 15px;
    text-align: center;
}
#Comment {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 2000px;
    right: 275px;
    font-size: 150px;
}
#Clock {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 2000px;
    right: 700px;
    font-size: 150px;
}
#Brain {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 2000px;
    right: 1120px;
    font-size: 150px
}
#Tech {
    margin-top: 200px;
    padding-right: 15px;
    text-align: center;
}
.TechnicalSkills{
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 80px ;
    justify-content: center;
    gap: 200px;
}
.Tech1 {
    padding-right: 15px;
}
#Html {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 2465px;
    right: 1140px;
    font-size: 150px
}
#Java {
    top: 2465px;
    right: 290px;
    display: flex;
    justify-content: center;
    position: absolute;
    font-size: 150px
}
#Ruler {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 2465px;
    right: 690px;
    font-size: 150px;
}
.Cards1 {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding-top: 30px;
    padding-left: 20px;
    font-size: 20px;
    border-radius: 25%;
    width: 200px;
    height: 400%;
    background-color: var(--White);
    color: var(--DrkGray);
}
#Certs {
    width: 98%;
    height: 50%;
}
#Certs .Container {
    background-color: var(--White);
    height: 180%;
    margin-top: 735.5px;
}
.Langs {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    gap: 400px;
}
.MiniHeader {
   font-size: 35px;
   color: var(--DrkGray);
   font-weight: bold;
   padding-top: 100px;
}
#HTMLlogo {
    position: absolute;
    left: 225px;
    font-size: 200px;
    color: var(--Cyan);
    margin-top: 50px;
    border-radius: 25%;
    padding: 20px
}
#CSsLogo {
    position: absolute;
    left: 1050px;
    font-size: 200px;
    color: var(--Cyan);
    margin-top: 50px;
    border-radius: 25%;
    padding: 20px
}
#Languages {
    width: 98%;
    height: 50%;
}
#Languages .Container {
    background-color: var(--DrkGray);
    height: 140%;
    margin-top: 295px;
}
.Langs2 {
    display: flex;
    justify-content: space-evenly;
}
#Arabic {
 font-size: 25px;
 color: var(--White);
 margin: 20px;
}
#Arab {
    margin: 40px;
}
#Refs {
    width: 100%;
    height: 50%;
}
#Refs .Container {
    background-color: var(--White);
    height: 600%;
    margin-top: 0px;
}
.Photos {
    display: flex;
    justify-content: space-between;
}
.Photo {
    height: 400px;
    width: 400px;
}
.Alaa {
    margin-top: 200px;
    margin-left: 100px;
    text-align: center;
    font-size: 20px;
}
.Hala {
    padding-left: 200px;
    border-left: 4px solid black;
    margin-top: 200px;
    margin-right: 100px;
    text-align: center;
    font-size: 20px;
}
.Footer {
    width: 100%;
    height: 20%;
    margin-top: 900px;
}
.Footer .Container {
display: flex;
justify-content: space-around;
padding-top: 40px;
font-size: 28px;
}
a {
    text-decoration: none;
}
a i {
    text-decoration: none;
    color: var(--White);
}
.Phone i {
    color: var(--White);
}
